<template>
    <div class="">
        <sum-component v-for="sum in sums" :sum="sum" :key="sum.id"/>
    </div>
</template>

<script>
    import SumComponent from "./Sum";
    import Sum from '../classes/Sum'
    import Operation from "../classes/Operation";

    export default {
        name: 'HelloWorld',
        components: {SumComponent},
        data() {
            return {
                numberOfOperations:Array(10),

            }

        },
        mounted() {
            var  This = this
            this.$store.dispatch('clearSums').then(()=>{
                This.generateSums()
            })
        },
        methods: {
            generateSums(){
                var This = this
                let limit = this.level == 1 ? 7 : 10
                Array.from(this.numberOfOperations).forEach((sum,index)=>{
                    let first = Math.floor(Math.random() * limit)
                    let second = Math.floor(Math.random() * limit)
                    let newSum = new Operation(first,second,index,this.type)
                    This.sums.push(newSum)
                })
            }
        },
        computed: {
            sums:{
                get(){
                    return this.$store.getters.sums
                },
                set(){
                    return this.$store.dispatch('setSums')

                }
            },
            type(){
                if(this.$route.path == '/'){
                    return 'sum'
                }
                var auxString = this.$route.path.slice(1,this.$route.path.length)

                return auxString.slice(0,auxString.length -2)
            },
            level() {
                let auxLevel = parseInt(this.$route.path.slice(this.$route.path.length - 1, this.$route.path.length))
                return auxLevel
            }

        },
        watch:{
            type(){
                var This = this
                this.$store.dispatch('clearSums').then(()=>{
                    This.generateSums()
                })
            }
        }
    }
</script>
