<template>
    <md-card >
        <md-card-actions>
            <md-field>
                <label>{{first}} {{operand}} {{second}} = ?</label>
                <md-input v-model="result"></md-input>

            </md-field>
        </md-card-actions>
    </md-card>
</template>
<script>
    export default {
        name: 'sum-component',
        props:['sum'],
        data(){
          return {
              result:null,
              error:false
          }
        },
        methods:{
            checkResult(){
                if (this.sum.checkResult(this.result)){
                    this.error = true
                    var This = this
                    setTimeout(()=>{
                        This.$store.dispatch('clearSumWithId',this.sum.id)
                    },1000)

                }

            }
        },
        computed:{
            first(){
                return this.sum.first
            },
            second(){
                return this.sum.second
            },
            operand(){
                return this.sum.getSign()
            }
        },
        watch:{
            result(){
                this.checkResult()
            }
        }
    }
</script>
<style lang="scss">

    .sum{
        display: flex;
    }

</style>
