<template>
  <div id="app">
    <div class="page-container md-layout-column">
      <md-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="showNavigation = true">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Càlcul Mental </span>
      </md-toolbar>

      <md-drawer :md-active.sync="showNavigation">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span class="md-title">Càlcul Mental</span>
        </md-toolbar>

        <md-list>
          <router-link to="sum_1">
            <md-list-item>
              <md-icon>move_to_inbox</md-icon>
              <span class="md-list-item-text">Sumes 1</span>
            </md-list-item>
          </router-link>

          <router-link to="sum_2">
          <md-list-item>
            <md-icon>send</md-icon>
            <span class="md-list-item-text">Sumes 2</span>
          </md-list-item>
          </router-link>

          <router-link to="subtraction_1">
          <md-list-item>
            <md-icon>delete</md-icon>
            <span class="md-list-item-text">Restes 1</span>
          </md-list-item>
          </router-link>

          <router-link to="subtraction_2">
          <md-list-item>
            <md-icon>error</md-icon>
            <span class="md-list-item-text">Restes 2</span>
          </md-list-item>
          </router-link>
          <router-link to="multiplication_1">
            <md-list-item>
              <md-icon>delete</md-icon>
              <span class="md-list-item-text">Multiplicacions 1</span>
            </md-list-item>
          </router-link>

          <router-link to="multiplication_2">
            <md-list-item>
              <md-icon>error</md-icon>
              <span class="md-list-item-text">Multiplicacions 2</span>
            </md-list-item>
          </router-link>
        </md-list>
      </md-drawer>

      <md-content>
        <router-view/>
      </md-content>
    </div>

  </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                showNavigation: false,
            }
        },
        computed:{
            type(){
                if(this.$route.path == '/'){
                    return 'sum'
                }
                var auxString = this.$route.path.slice(1,this.$route.path.length)

                return auxString.slice(0,auxString.length -2)
            }
        },
        watch:{
            type(){
              this.showNavigation = false
            }
        }
    }
</script>
<style lang="scss">

</style>
